<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neighborhood Map</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">NeighborhoodMap</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield textfield-demo">
                                <input data-bind='value: locationLat' class="mdl-textfield__input" type="text" id="locationIp" />
                                <label class="mdl-textfield__label" for="locationIp">Enter Location</label>
                            </div>
                            <button  data-bind='click: addMarkerOnMap' class="mdl-button mdl-js-button mdl-button--accent">
                                Add
                            </button>
                        </form>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                                mdl-textfield--floating-label mdl-textfield--align-right">
                            <label class="mdl-button mdl-js-button mdl-button--icon"
                                   for="fixed-header-drawer-exp">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input data-bind="value: titleSearch, valueUpdate: 'keyup'" class="mdl-textfield__input" type="text" name="sample"
                                       id="fixed-header-drawer-exp" />
                            </div>
                        </div>
                        <a class="mdl-navigation__link" href="" data-bind='click: toggleAllMarkers'>Toggle</a>
                    </nav>
                </div>
                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Map</a>
                    <a href="#fixed-tab-2" class="mdl-layout__tab">List of Location</a>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                    <div class="page-content">
                        <!--<h3>All Locations(<span data-bind="text: markers().length"> </span>)</h3>-->
                        <ul data-bind="foreach: markers">
                            <li data-bind="visible: isVisible">
                                <label>
                                    <span data-bind="text: title"> </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                    <div class="page-content">
                        <div id="mapDiv" data-bind="style:{width:'100%',height:'500px'},mapBinder:centerMap">
                        </div>
                    </div>
                </section>
            </main>
        </div>
            <!--<input id="loc"  type="text">-->
    <!--<button data-bind='click: addMarkerOnMap'>Add Marker</button>-->
    <!--<button data-bind='click: toggleAllMarkers'>Toggle Markers</button>-->
    <!--<input id="searchCrit" >-->

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="../dist/knockout.min.js"></script>
    <script src="../dist/utility.js"></script>
    <script src="../dist/navview.js"></script>
</body>

</html>